@tailwind utilities;
@tailwind base;
@tailwind components;

:root {
    --primary-color: #643335;
    --secondary-color: #afa9a0;
    --accent1-color: #212c64;
    --accent2-color: #ededed;
    --accent3-color: #221a08;
    --heading-font: "Minion Pro Regular Bold", Times New Roman, serif;
    --paragraph-font: "Helvetica Neue Condensed", "Helvetica Neue", Calibri, Helvetica, sans-serif;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: #ffffff;
    font-family: var(--paragraph-font);
}
