:root {
  /* Colors */
  --primary-color: #701300;
  --secondary-color: #cbc3b8 ;
  --accent1-color: #212c68;
  --accent2-color: #ffffff;

   /* Fonts */
   --heading-font: Palatino, Georgia, serif;
   --paragraph-font: "Trebuchet MS", Arial, sans-serif;

}

body {
  padding: 4em;
  font-size: 18px;
  margin-top: 80px;
}

header {
  margin-bottom: 2em;
  background-color: var(--primary-color);
  color: var(--accent2-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header img {
  height: 80px;
  margin-left: 40px;
}

header li {
  margin: 20px;
}

header li a {
  color: var(--accent2-color);
  text-decoration: none;
}

#hero1{
  margin-bottom: 2em;
  color: var(--primary-color);
}


.knight {
  height: 300px;
}

.roster-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.roster-table thead tr {
  background-color: var(--primary-color);
  color: var(--accent2-color);
  text-align: left;
}

.roster-table th,
.roster-table td {
    padding: 12px 15px;
}

.roster-table tbody tr {
  border-bottom: 1px solid var(--primary-color);
}

.roster-table tbody tr:nth-of-type(even) {
  background-color: var(--secondary-color);
}

.roster-table tbody tr:last-of-type {
  border-bottom: 2px solid var(--primary-color);
}